@media only screen and (min-width: 1024px) and (max-width: 1280px){
  .group-header{
    width: 100%;
  }

  .group-header img.logo{
    max-width: 25%;
    min-width: 5%;
    top: 1rem;
    left: 2rem;
  }
  .group-header ul{
    left: 19rem;
    top: 1rem;
    width: 62%;
    height: 1.5%;
    display: flex;
    flex-wrap: wrap;
  }

  .group-header ul li{
    font-size: 0.85rem;
    margin-right: -15%;
  }

  .group-first img.dog{
    max-width: 31%;
    min-width: 18%;
    top: 20.5%;
  }

  .group-first .our-story{
    top: 19.8%;
    left: 11%;
  }

  .group-first .our-story .our{
    font-size: 1.9rem;
    margin-bottom: 3rem;
  }

  .group-first .our-story .story{
    font-size: 4.2rem;
  }

  .group-first .detail-g-f{
    right: 28%;
    top: 19.5%;
  }

  .group-first .detail-g-f .detail{
    font-size: 1.3rem;
    max-width: 24rem;
    min-width: 16rem;
    line-height: 1.8rem;
    height: 11.5rem;
  }

  .group-first img.foods{
    right: 0%;
    max-width: 30%;
    min-width: 20%;
    top: 20%;
  }

  .group-first .read-more{
    position: absolute;
    top: 113%;
    left: 0%;
    max-width: 40%;
    min-width: 35%;
  }

  .group-first img.emotion{
    max-width: 16%;
    min-width: 10%;
    top: 33.5%;
    left: 5%;
  }

  .group-second img.background{
    width: 100%;
    height: 10%;
    top: 31.5%;
  }

  .group-second .title-f{
    max-width: 35%;
    min-width: 28%;
    left: 34%;
    top: 33.5%;
    text-align: center;
  }

  .group-second .content-f{
    font-size: 1.3rem;
    max-width: 85%;
    min-width: 75%;
    left: 7%;
    top: 37.5%;
    text-align: center;
  }


  .group-second img.dog{
    max-width: 30%;
    min-width: 20%;
    right: 7%;
    top: 43.5%;
  }

  .group-second .emotion{
    max-width: 8%;
    min-width: 4%;
    right: 3%;
    top: 44%;
  }

  .group-second img.title-s{
    max-width: 40%;
    min-width: 30%;
    left: 9%;
    top: 46%;
  }

  .group-second .content-s{
    max-width: 55%;
    min-width: 45%;
    left: 9%;
    top: 48.5%;
    font-size: 1.3rem;
  }

  .group-second .btn{
    max-width: 30%;
    min-width: 20%;
    left: 9%;
    top: 54.5%;
  }

  .group-third{
    width:100%;
    height: 18rem;
    top: 59%;
  }

  .group-third img.dog{
    display: inline;
    width: 20%;
    top: -25%;
    left: 41%;
  }

  .group-third .detail-g-t{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 79%;
    top: -10%;
    left: -3%;
  }

  .group-third .detail-g-t-s p{
    font-size: 1.3rem;
    max-width: 22rem;
    min-width: 21rem;
  }

  .group-third .shape{
    position: absolute;
    top: 89%;
    left: -10%;
  }

  .group-third .shape .shape-s{
    margin-left: -0.56rem;
  }

  .group-fourth .foods{
    left: 0%;
    top: -98%;
    max-width: 42%;
    min-width: 32%;
  }

  .group-fourth .detail-g-fo{
    left: 37%;
    top: -84%;
  }

  .group-fourth .detail-g-fo img.title{
    max-width: 69%;
    min-width: 67%;
  }

  .group-fourth .detail-g-fo p{
    max-width: 88%;
    min-width: 78%;
    font-size: 1.3rem;
  }

  .group-fourth .detail-g-fo .btn{
    max-width: 39%;
    min-width: 29%;
    margin-top: 2.5rem;
  }

  .group-footer{
    height: 23rem;
    margin-top: 133rem;
    margin-bottom: -7rem;
  }

  .group-footer .dog{
    position: absolute;
    width: 100%;
    max-height: 105%;
    min-height: 95%;
    top: -46%;
  }

  .group-footer .balloon{
    left: 45%;
    top: -43%;
    max-width: 30%;
  }

  .group-footer .logo{
    left: 51%;
    top: -19%;
    max-width: 19%;
    min-width: 9%;
  }

  .group-footer ul{
    width: 100%;
    left: 40%;
  }

  .group-footer p{
    right: 21.5%;
    top: 42%;
    font-size: 85%;
    height: 6%;
  }

  .group-footer .channel-list{
    display: flex;
    flex-wrap: wrap;
    left: 76%;
    top: 37%;
    max-height: 17%;
    min-height: 7%;
    max-width: 24%;
    min-width: 15%;
  }

  .group-footer ul.menu-list{
    top: 20%;
    left: 39%;
    width: 1%;
  }

  .group-footer ul.menu-list li{
    font-size: 90%;
    max-width: 30%;
    min-width: 21%;
    margin-right: 3.5rem;
    letter-spacing: 0.1rem;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px){
  .group-header ul{
    left: 28%;
    top: 0.5%;
    width: 62%;
    height: 1.5%;
    display: flex;
    flex-wrap: wrap;
  }

  .group-header ul li{
    font-size: 110%;
    margin-right: -11%;
  }

  .group-first img.dog{
    max-width: 26%;
    min-width: 18%;
    top: 45rem;
  }

  .group-first .foods{
    top: 44.5rem;
    right: 1rem;
  }

  .group-first .our-story{
    top: 44rem;
    left: 10rem;
  }

  .group-first .detail-g-f{
    right: 28rem;
    top: 44rem;
  }

  .group-first img.emotion{
    max-width: 16%;
    min-width: 10%;
    top: 36.5%;
    left: 5%;
  }

  .group-second img.background{
    width: 100%;
    height: 11%;
    top: 35.5%;
  }

  .group-second .content-f{
    font-size: 1.3rem;
    max-width: 85%;
    min-width: 75%;
    left: 12%;
    top: 42.5%;
  }

  .group-second .dog{
    max-width: 20%;
    min-width: 15%;
    height: 12%;
    top: 47.5%;
    right: 10%;
  }

  .group-second .title-f{
    max-width: 35%;
    min-width: 28%;
    left: 37%;
    top: 37.5%;
  }

  .group-second .emotion{
    max-width: 4%;
    min-width: 2%;
    right: 10%;
    top: 48%;
  }

  .group-second img.title-s{
    max-width: 19%;
    min-width: 16%;
    left: 10%;
    top: 49%;
  }

  .group-second .content-s{
    max-width: 50%;
    min-width: 40%;
    left: 10%;
    top: 50.2%;
    font-size: 140%;
  }

  .group-second .btn{
    max-width: 30%;
    min-width: 20%;
    left: 10%;
    top: 55.6%;
  }

  .group-third{
    width:100%;
    height: 18rem;
    top: 60.5%;
  }

  .group-third img.dog{
    display: inline;
    max-width: 14%;
    top: -29%;
    left: 42%;
  }

  .group-third .detail-g-t{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 76%;
    top: -10%;
    left: 2%;
  }

  .group-third .shape{
    position: absolute;
    top: 89%;
    left: -0.5%;
  }

  .group-third .shape .shape-s{
    margin-left: -0.56rem;
  }

  .group-fourth .foods{
    left: 20%;
    top: -63%;
    max-width: 21%;
    min-width: 16%;
  }

  .group-fourth .detail-g-fo{
    left: 46%;
    top: -58%;
  }

  .group-fourth .detail-g-fo img.title{
    max-width: 76%;
    min-width: 49%;
  }

  .group-fourth .detail-g-fo p{
    max-width: 85%;
    min-width: 74%;
    font-size: 1.45rem;
  }

  .group-fourth .detail-g-fo .btn{
    max-width: 39%;
    min-width: 29%;
    margin-top: 4rem;
  }

  .group-footer{
    height: 23rem;
    margin-top: 130rem;
    margin-bottom: -7rem;
  }

  .group-footer .dog{
    position: absolute;
    width: 100%;
    max-height: 134%;
    min-height: 130%;
    top: -65%;
  }

  .group-footer .balloon{
    left: 45%;
    top: -60%;
    max-width: 26%;
  }

  .group-footer .logo{
    left: 50%;
    top: -24%;
    max-width: 16%;
    min-width: 10%;
  }

  .group-footer ul{
    width: 100%;
    left: 10%;
  }

  .group-footer p{
    right: 22.5%;
    top: 50%;
    font-size: 100%;
    height: 6%;
  }

  .group-footer .channel-list{
    display: flex;
    flex-wrap: wrap;
    left: 82%;
    top: 45%;
    max-height: 17%;
    min-height: 7%;
    max-width: 24%;
    min-width: 15%;
  }

  .group-footer ul.menu-list{
    top: 20%;
    left: 46%;
    width: 1%;
  }

  .group-footer ul.menu-list li{
    font-size: 90%;
    max-width: 30%;
    min-width: 21%;
    margin-right: 3.5rem;
    letter-spacing: 0.1rem;
  }
}
